body {
  background-color: #a4bafc;
  font-family: 'Poppins', sans-serif;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  margin-left: 400px;
  margin-right: 400px;
  min-height: 100vh;
  position: relative;
}

.Picture {
  align-self: flex-start;
  mix-blend-mode: multiply;
  margin-left: -20px;
}

input {
  padding: 10px;
  width: 80vh;
  margin: 20px;
  font-size: 15px;
}

button {
  padding: 15px;
  width: 300px;
  background-color: rgb(236, 99, 99);
  border: none;
  color: aliceblue;
  margin: 10px;
  border-radius: 3px;
}

.Add {
  background-color: rgb(236, 99, 99);
}

.Delete {
  background-color: rgb(33, 224, 33);
}

ul {
  list-style-type: none;
  width: 500px;
  margin: 10px;
}

li {
  padding: 5px;
  margin: 7px;
  font-size: 20px;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: rgb(161, 170, 165);
  margin: 10px;
  color: rgb(120, 155, 120);
}




